body {
  font-family: CotorisBold , Segoe UI , Roboto , sans-serif;
}


code {
  font-family: source-code-pro , Menlo , Monaco , Consolas , Courier New , monospace;
}

@font-face {
  font-family: CotorisBold;
  src: url('/fonts/CotorisBold.ttf') format('truetype');

}

